header {
    height: 600px;
    background-color: lime;
    background-image: url(./img/header.jpg);
    background-position: center;
    background-size: cover;
    max-width: 1000px;
    margin: auto;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

hr {
    max-width: 600px;
    height: 10px;
    background-color: black;
}

img {
    display: block;
    margin: auto;
    border: 1px solid black;
    width: 100%;
    max-width: 600px;
}

p {
    text-align: center;
}